@model Exam06.ViewModels.BookViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Books</h1>

<form asp-controller="Books" asp-action="Index" method="post" class="mb-3">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search book"
               name="SearchString" value="@ViewData["CurrentSearch"]" />
        <button type="submit" class="btn btn-outline-dark" aria-label="Search">
            <i class="fa fa-search"></i>
        </button>

        <select asp-for="Category" asp-items="Model.Categories" class="form-select" aria-label="Select Category">
            <option>All</option>
        </select>

        <button type="submit" class="btn btn-outline-dark" aria-label="Filter">
            <i class="fa fa-filter"></i>
        </button>
    </div>
</form>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr class="table-primary">
            <th>
                <a class="text-white" asp-route-sortorder="@ViewData["IdSort"]">
                    @Html.DisplayName("#") <i class="fa fa-sort"></i>
                </a>
            </th>
            <th>
                <a class="text-white" asp-route-sortOrder="@ViewData["TittleSort"]">
                    @Html.DisplayName("Title") <i class="fa fa-sort"></i>
                </a>
            </th>
            <th>
                <a class="text-white" asp-route-sortOrder="@ViewData["DescriptionSort"]">
                    @Html.DisplayName("Description") <i class="fa fa-sort"></i>
                </a>
            </th>
            <th>
                <a class="text-white" asp-route-sortOrder="@ViewData["PriceSort"]">
                    @Html.DisplayName("Price") <i class="fa fa-sort"></i>
                </a>
            </th>
            <th>
                <a class="text-white" asp-route-sortOrder="@ViewData["CategoryIdSort"]">
                    @Html.DisplayName("Category") <i class="fa fa-sort"></i>
                </a>
            </th>
            <th>
                <a class="text-white" asp-route-sortOrder="@ViewData["AuthorIdSort"]">
                    @Html.DisplayName("Author") <i class="fa fa-sort"></i>
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Books)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Id)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorId)
                </td>
              @*   <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-info">
                        <i class="fa fa-edit"></i> Edit
                    </a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-secondary">
                        <i class="fa fa-info"></i> Details
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">
                        <i class="fa fa-trash"></i> Delete
                    </a>
                </td> *@
            </tr>
        }
    </tbody>
</table>
